.login-page, .register-page{
    background-color: #e9ecef;
}

.card-primary, .card-outline {
    border-top: 3px solid #F57F17 !important;
}

a:hover{
    cursor: pointer;
}

.bg-orange{
    color: white !important;
}

a.active{
    color: white !important;
}

a{
    text-decoration: none !important;
    color: black;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    background-color: white;
    color: black;
}

[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #F57F17 !important;
    color: white !important;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link:hover, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link:hover {
    background-color: #ebebeb;
    color: black;
}

.marked-text{
    -webkit-text-stroke: 0.2px white;
   color: white;
   text-shadow:
   /* 3px 3px 0 #000, */
       -1.5px -1.5px 0 #000, 
     1.5px -1.5px 0 #000,
      -1.5px 1.5px 0 #000,
       1.5px 1.5px 0 #000;
}

button{
    border: none;
    background: transparent;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Buscar";
}

#loading { width: 100%; height: 100%;top: 0; left: 0;position: fixed; display: block; opacity: 0.7; background-color: #000000; z-index: 10000;text-align: center;} 
#loading-image {position: relative;top:45%;z-index: 10000; width: 100px;} 
#loading-span {font-size:30px; color:white; position: relative;top:40%;z-index: 10000;}





